/*Specific edit-modal rules*/
#note-title {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0 0 10px;
  }
  
  #note-title:focus {
    color: black;
  }
  
  #note-content {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  .no-images {
    text-align: center;
    font-size: 19px;
  }
  
  .remove-image {
    margin: -37px 15px 0px 0px;
    float: right;
    cursor: pointer;
  }
  
  .color-select,
  .img-add {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms;
    text-align: center;
  }
  
  .color-select {
    margin-right: 15px;
  }
  
  .color-select > img,
  .img-add > img {
    margin-top: 6px;
  }
  
  .color-select > div,
  .close-color-picker-btn {
    opacity: 0;
    transition: opacity 100ms 200ms;
    border: black solid 1px;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin: 10px 6px 0 4px;
    padding: 0;
  }
  
  .color-select > .show-color {
    opacity: 1;
    transition: opacity 100ms 200ms;
  }
  
  .close-menu-btn {
    border: none;
    margin: 10px 5px 0 0 !important;
  }
  
  .open-menu,
  .img-add.open-menu {
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
    width: 215px;
  }
  
  .img-add.open-menu {
    width: 310px;
  }
  
  .img-add > input {
    border: none;
    border-radius: 7px;
    width: 166px;
    height: 20px;
    margin-top: 6.5px;
  }
  
  .img-add > p {
    margin: 8px -3px 0 0;
  }
  
  .img-add > .arrow {
    margin: 8px 0 0 0;
  }
  
  .save-note {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  button {
    margin: auto;
  }